/* Tailwind Import */

/* RTL Support */
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* Base Colors */
  --primary-color: #879f13;
  --secondary-color: #b9d81c;
  --transition-duration: 0.5s ease-in-out;
  /* Original secondary color */
  --secondary-light-1: #d2e89a; /* 20% lighter */
  --secondary-light-2: #e8f5c4; /* 40% lighter */
  --secondary-light-3: #f3fae1; /* 60% lighter */
  --secondary-light-4: #f9fdf0; /* 80% lighter */
  --Tertiary-color: #d5f72c;

  /* Lighter Tints */
  --light-1: #e8f5c4;
  --light-2: #d2e89a;
  --light-3: #bcdb70;

  /* Darker Shades */
  --dark-1: #6c7e0f;
  --dark-2: #4a560a;
  --dark-3: #283005;

  /* Neutral Colors */
  --neutral-light: #f5f5f5;
  --neutral-medium: #e4e4e4;
  --neutral-dark: #333333;

  /* spacing  */
  --golbal-gap: 1rem;
  --space-between: 3rem;

  /* blue gradient */
  --dark-blue: #005882; /* Darkest */
  --blue-9: #006897;
  --blue-8: #0078ac;
  --blue-7: #0088c1;
  --blue-1: #0098d6;
  --blue-2: #1aa2da;
  --blue-3: #33acde;
  --blue-4: #4db6e2;
  --blue-5: #66c0e6;
  --light-blue: #80caea; /* Lightest */
  /* Padding  */
  --container-padding: 2.25rem;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  overflow-x: hidden;
  height: 100vh;
}
h1 {
  font-size: 3rem;
  font-weight: 500;
}
/* ScrollBar style */
body::-webkit-scrollbar {
  width: 0.8rem;
}
body::-webkit-scrollbar-track {
  background-color: #9b9c9a;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(199, 201, 199);
  border-radius: 10px;
}

/* ____________________________________________________Swiper Style____________________________________________________ */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

/* _______________________________________________Product Card Style______________________________________________ */

.product-picture-add::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
  transform: scale(0);
}
.product-picture-add:hover::after {
  transform: scale(1);
}
@media only screen and (min-width: 768px) {
  .product-picture-add button {
    position: absolute;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    background: #000000a4;
    color: white;
    cursor: pointer;
    z-index: 4;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
      background 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .product-picture-add button:hover {
    background: #000000ea;
  }
  .product-picture-add:hover button {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}
/* ______________________________Navbar Animation___________________________ */
.navbar-transalate {
  animation: Down 0.6s ease-in-out alternate;
}
@keyframes Down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* ______________________________Banner animation fade_________________ */
.banner-animation {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  animation: banner 1s ease-in-out;
}
@keyframes banner {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* _________________________________language drop down____________________________________________ */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.2s ease-in-out;
}

[dir="rtl"] .language-drop {
  left: 0;
}
[dir="ltr"] .language-drop {
  right: 0;
}
[dir="rtl"] .side_bar {
  transform: translateX(200%);
}
[dir="ltr"] .side_bar {
  transform: translateX(-100%);
}
